<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <style>
        .my-header{
            font-size:50px;
        }
        .my-text{
            font-size:30px;
        }
        .err-text{
            font-size:20px;
            color: firebrick;
        }
    </style>
</head>

<body class="w3-content w3-blue-gray" style="max-width:1300px">
<div class="my-header">
    <h1>Log in</h1>
</div>
<div class="w3-cursive w3-center my-text">
    <form class="w3-padding-small" th:method="POST" th:action="@{/login_process}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <label for="username">Username: </label>
        <input type="text" id="username" name="username" size="20">
        <div class="w3-padding-small"></div>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" size="20">
        <div class="w3-padding-small"></div>

        <input class="w3-button w3-light-gray" type="submit" value="log in">

        <div th:if="${param.error}" style="color:red">
            Incorrect username or password.
        </div>
    </form>
</div>
</body>
</html>