<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .my-header{
            font-size:50px;
        }
        .my-text{
            font-size:30px;
        }
    </style>
</head>

<body class="w3-content w3-blue-gray " style="max-width:1300px">
<div class="my-header">
    <h1>USERS LIST</h1>
</div>
<div class="w3-container w3-center my-text">
    <!--/*@thymesVar id="people" type="ru.rozvezev.springsecurityfirstapp.models.Person"*/-->
    <div class="w3-hover-light-gray w3-cursive" th:each="person : ${people}">
        <a style="text-decoration:none" th:href="@{/persons/{id}(id=${person.getId()})}"
           th:text="${person.getUsername() + ', ' + person.getYearOfBirth() + ', ' + person.getRole()}">users</a>
    </div>
</div>
</body>

</html>