<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New note</title>
</head>
<body>
<div class="w3-cursive w3-center my-text">
    <!--/*@thymesVar id="note" type="ru.rozvezev.springsecurityfirstapp.models.Note"*/-->
    <form class="w3-padding-small" th:method="PATCH" th:action="@{/notes/{id}(id=${note.getId()})}" th:object="${note}">
        <label for="title">Enter name: </label>
        <input type="text" th:field="*{title}" id="title" width="100" height="200">
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <br>
        <label for="note">Enter text: </label>
        <textarea th:field="*{body}" id="note" rows="10" cols="50"></textarea>
        <div style="color:red" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
        <div class="w3-padding-small"></div>

        <input class="w3-button w3-light-gray" type="submit" value="edit">
    </form>
</div>
</body>
</html>