<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Note info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <style>
        .my-text{
            font-size:30px;
        }
    </style>
</head>

<body class="w3-content w3-blue-gray" style="max-width:1300px">
<!--/*@thymesVar id="note" type="ru.rozvezev.springsecurityfirstapp.models.Note"*/-->
    <div class="my-header">
        <h1>NOTE INFO</h1>
    </div>

    <div style="color: coral" th:text="'Created at ' + ${note.getCreatedAt().format(formatter)}">created at</div>
    <div style="color: coral" th:text="'Last update at ' + ${note.getUpdatedAt().format(formatter)}">updated at</div>

    <div class="my-text" th:if="${note}">
        <p th:text="${note.getBody()}"/>
    </div>
</body>

<footer class="w3-right-align w3-blue-gray w3-padding-16 my-text">
    <a class="w3-button w3-hover-orange" style="text-decoration:none"
       th:href="@{/notes/{id}/edit(id=${note.getId()})}">Edit note</a>
    <div class="w3-padding-small"></div>
    <form th:method="DELETE" th:action="@{/notes/{id}(id=${note.getId()})}">
        <input class="w3-button w3-hover-orange" type="submit" value="Delete">
    </form>
</footer>

</html>

